  .btn {
   padding: 10px 34px;
    background-color: var(--secondary-color);
    color: black;
    font-weight: bold;
    font-family:  'Anton', sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
    letter-spacing: 1.2px;
    cursor: pointer;
  } 
   

  @media(max-width:599px){
    .smallerBtn {
      padding: 6px 12px;
      font-size: 15px;
    }
  }